.header {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;  
  animation: fade-in 2s ease-in-out;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header__titleImage {
  height: 7rem;
}

.header__title {
  margin: 0 1rem;
  align-self: flex-end;
  font-family: "Permanent Marker", cursive;
  font-size: 3.5rem;
}
