.header {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header__titleImage {
  height: 7rem;
}

.header__title {
  margin: 0 1rem;
  align-self: flex-end;
  font-family: "Permanent Marker", cursive;
  font-size: 3.5rem;
}