html {
  box-sizing: border-box;
  font-size: 28px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
}

@media (max-width: 1400px) {
  html {
    font-size: 24px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 21px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  /* font-family: 'Caveat', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Roboto Mono', monospace; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  max-width: 1600px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0.5em 0;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
}

a:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

.hidden {
  display: none;
}